<section class="login flex justify-center pt-24">
    <div class="w-full max-w-xs">
        <form action="/register" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <!-- action-where we are post method means what we are doing -->
        <% if(messages.error) { %>   
        <span class="text-red-500 text-sm"><%=messages.error %></span>
        <% } %>
          <!-- //inside flash whaterver msg we send gets available in frontend messages obj inside which we call the key -->
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold " for="username">
                    Name
                </label>
                <input
                name="name"value="<%=messages.name%>"
                    class="shadow-appearence-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="Username" type="text" placeholder="Enter your name">
                    <!-- //whatever we give in name attribute same will be recieved in authcontroller  -->
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold " for="username">
                    Email
                </label>
                <input
                name="email"value="<%=messages.email%>"
                    class="shadow-appearence-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="Username" type="email" placeholder="Enter your email">
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold " for="password">
                    Password
                </label>
                <input
                name="password"
                    class="shadow-appearence-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="password" type="password" placeholder="* * * * * * *">
              
            </div>
            <div class="flex items-center justify-between">
                <button type="button submit"
                class=" rounded-full text-white font-bold py-2 px-4 rounded btn-primary focus:outline-none focus:shadow-outline "
                >
                Register
            </button>
               
                <a class="inline-block align-baseline font-bold text-sm" href="/login">Already have account?</a>
            </div>
        </form>
        <p class="text-center text-gray-500 text-xs">
            &copy;2023 Real Pizza Corp.All rights reserved.
        </p>
    </div>
</section>